{% load static %}

<!-- Including Jquery -->
<script src="{% static 'assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.cookie.js' %}"></script>
<script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
<!-- Including Javascript -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/lazysizes.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'js/cart.js' %}" type="text/javascript"></script>
