<div class="search">
    <div class="search__form">
        <form action="#" class="search-bar__form">
            <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
            <input aria-label="Search" autocomplete="off" class="search__input" name="q"
                   placeholder="Search entire store..."
                   type="search" value="">
        </form>
        <button class="search-trigger close-btn" type="button"><i class="anm anm-times-l"></i></button>
    </div>
</div>