{% extends "user/main.html" %}

{% block content %}

<div class="col-md-8 mt-4">
    <div class="card mb-4 mt-4">
        <div class="card-header">
            Login to Your Account
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="row form-group mb-4">
                    <div class="col-md-12 mb-3 mb-md-0">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                </div>

                <div class="row form-group mb-4">
                    <div class="col-md-12 mb-3 mb-md-0">
                        <input type="submit" value="Login" class="btn px-4 btn-primary form-control text-white">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Username'
    form_fields[2].placeholder = 'Password'

    for(var i = 1; i < form_fields.length; i++) {
        form_fields[i].classList += 'form-control';
    }
</script>

{% endblock %}