{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<!--Home slider-->
<div class="slideshow slideshow-wrapper pb-section sliderFull">
    <div class="home-slideshow">
        <div class="slide">
            <div class="blur-up lazyload bg-size">
                <img alt="Shop Our New Collection"
                     class="blur-up lazyload bg-img"
                     data-src="assets/images/slideshow-banners/belle-banner1.jpg"
                     src="{% static 'assets/images/slideshow-banners/belle-banner1.jpg' %}"
                     title="Shop Our New Collection"/>
                <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                    <div class="slideshow__text-content bottom">
                        <div class="wrap-caption center">
                            <h2 class="h1 mega-title slideshow__title">Shop Our New Collection</h2>
                            <span class="mega-subtitle slideshow__subtitle">From Hight to low, classic or modern. We have you covered</span>
                            <span class="btn">Shop now</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="blur-up lazyload bg-size">
                <img alt="Summer Bikini Collection"
                     class="blur-up lazyload bg-img"
                     data-src="assets/images/slideshow-banners/belle-banner2.jpg"
                     src="{% static 'assets/images/slideshow-banners/belle-banner1.jpg' %}"
                     title="Summer Bikini Collection"/>
                <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                    <div class="slideshow__text-content bottom">
                        <div class="wrap-caption center">
                            <h2 class="h1 mega-title slideshow__title">Summer Bikini Collection</h2>
                            <span class="mega-subtitle slideshow__subtitle">Save up to 50% off this weekend only</span>
                            <span class="btn">Shop now</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Home slider-->

<!--Collection Tab slider-->
<div class="tab-slider-product section" id="profuct-list">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">New Arrivals</h2>
                    <p>Browse the huge variety of our products</p>
                </div>
                <div class="tabs-listing">
                    <ul class="tabs clearfix">
                        <li class="active" rel="tab1">Women</li>
                        <li rel="tab2">Men</li>
                        <li rel="tab3">Sale</li>
                    </ul>
                    <div class="tab_container">
                        <div class="tab_content grid-products" id="tab1">
                            <div class="productSlider">

                                {% for product in products %}
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="short-description.html">
                                            <!-- image -->
                                            <img alt="image"
                                                 class="primary blur-up lazyload"
                                                 data-src="{{product.imageURL}}"
                                                 src="{{product.imageURL}}" style="height: 300px; width: 500px;"
                                                 title="product"/>
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img alt="image"
                                                 class="hover blur-up lazyload"
                                                 data-src="{{product.imageURL}}"
                                                 src="{{product.imageURL}}"
                                                 style="height: 200px; width: 600px;" title="product"/>
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <!--                                            <div class="product-labels rectangular">-->
                                            <!--                                                <span class="lbl on-sale">-16%</span>-->
                                            <!--                                                <span class="lbl pr-label1">new</span>-->
                                            <!--                                            </div>-->
                                            <!-- End product label -->
                                        </a>
                                        <!-- end product image -->

                                        <!-- countdown start -->
                                        <!--                                        <div class="saleTime desktop" data-countdown="2022/03/01"></div>-->
                                        <!-- countdown end -->

                                        <!-- Start product button -->
                                        <form class="variants add" method="post">
                                            <button class="btn btn-addto-cart change-quantity update-cart" data-action="add"
                                                    tabindex="0" type="button">
                                                Add To Cart
                                            </button>
                                        </form>
                                        <div class="button-set">
                                            <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                               data-toggle="modal" href="javascript:void(0)"
                                               title="Quick View">
                                                <i class="icon anm anm-search-plus-r"></i>
                                            </a>
                                            <div class="wishlist-btn">
                                                <a class="wishlist add-to-wishlist" href="wishlist.html">
                                                    <i class="icon anm anm-heart-l"></i>
                                                </a>
                                            </div>
                                            <div class="compare-btn">
                                                <a class="compare add-to-compare" href="compare.html"
                                                   title="Add to Compare">
                                                    <i class="icon anm anm-random-r"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="short-description.html">{{product.name}}</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <!--                                            <span class="old-price">$500.00</span>-->
                                            <span class="price">${{product.price|floatformat:2}}</span>
                                        </div>
                                        <!-- End product price -->

                                        <div class="product-review">
                                            <i class="font-13 fa fa-star"></i>
                                            <i class="font-13 fa fa-star"></i>
                                            <i class="font-13 fa fa-star"></i>
                                            <i class="font-13 fa fa-star-o"></i>
                                            <i class="font-13 fa fa-star-o"></i>
                                        </div>

                                        <!-- Variant -->
                                        <!-- End Variant -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Collection Tab slider-->

<!--Collection Box slider-->
<div class="collection-box section">
    <div class="container-fluid">
        <div class="collection-grid">
            <div class="collection-grid-item">
                <a class="collection-grid-item__link" href="collection-page.html">
                    <img alt="Fashion"
                         class="blur-up lazyload" data-src="{% static 'assets/images/collection/fashion.jpg' %}"
                         src="{% static 'assets/images/collection/fashion.jpg' %}"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">
                            Fashion
                        </h3>
                    </div>
                </a>
            </div>
            <div class="collection-grid-item">
                <a class="collection-grid-item__link" href="collection-page.html">
                    <img alt="Cosmetic" class="blur-up lazyload"
                         data-src="{% static 'assets/images/collection/cosmetic.jpg' %}"
                         src="{% static 'assets/images/collection/cosmetic.jpg' %}"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">
                            Cosmetic
                        </h3>
                    </div>
                </a>
            </div>
            <div class="collection-grid-item blur-up lazyloaded">
                <a class="collection-grid-item__link" href="collection-page.html">
                    <img alt="Bag" class="blur-up lazyload"
                         data-src="{% static 'assets/images/collection/bag.jpg' %}"
                         src="{% static 'assets/images/collection/bag.jpg' %}"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">
                            Bag
                        </h3>
                    </div>
                </a>
            </div>
            <div class="collection-grid-item">
                <a class="collection-grid-item__link" href="collection-page.html">
                    <img alt="Accessories"
                         class="blur-up lazyload" data-src="{% static 'assets/images/collection/accessories.jpg' %}"
                         src="{% static 'assets/images/collection/accessories.jpg' %}"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">
                            Accessories
                        </h3>
                    </div>
                </a>
            </div>
            <div class="collection-grid-item">
                <a class="collection-grid-item__link" href="collection-page.html">
                    <img alt="Shoes"
                         class="blur-up lazyload" data-src="{% static 'assets/images/collection/shoes.jpg' %}"
                         src="{% static 'assets/images/collection/shoes.jpg' %}"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">
                            Shoes
                        </h3>
                    </div>
                </a>
            </div>
            <div class="collection-grid-item">
                <a class="collection-grid-item__link" href="collection-page.html">
                    <img alt="Jewellry"
                         class="blur-up lazyload" data-src="{% static 'assets/images/collection/jewellry.jpg' %}"
                         src="{% static 'assets/images/collection/jewellry.jpg' %}"/>
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">
                            Jewellry
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--End Collection Box slider-->


<!--Featured Product-->
<div class="product-rows section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Featured collection</h2>
                    <p>Our most popular products based on sales</p>
                </div>
            </div>
        </div>
        <div class="grid-products">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">
                    <div class="grid-view_image">
                        <!-- start product image -->
                        <a class="grid-view-item__link" href="product-accordion.html">
                            <!-- image -->
                            <img alt="image"
                                 class="grid-view-item__image primary blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image1.jpg' %}"
                                 title="product"/>
                            <!-- End image -->
                            <!-- Hover image -->
                            <img alt="image"
                                 class="grid-view-item__image hover blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image1-1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image1-1.jpg' %}"
                                 title="product"/>
                            <!-- End hover image -->
                            <!-- product label -->
                            <div class="product-labels rectangular">
                                <span class="lbl on-sale">-16%</span>
                                <span class="lbl pr-label1">new</span>
                            </div>
                            <!-- End product label -->
                        </a>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details hoverDetails text-center mobile">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-accordion.html">Edna Dress</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="old-price">$500.00</span>
                                <span class="price">$600.00</span>
                            </div>
                            <!-- End product price -->

                            <!-- product button -->
                            <div class="button-set">
                                <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                   data-toggle="modal" href="javascript:void(0)"
                                   title="Quick View">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start product button -->
                                <form action="#" class="variants add"
                                      method="post" onclick="window.location.href='cart.html'">
                                    <button class="btn cartIcon btn-addto-cart" tabindex="0" type="button">
                                        <i class="icon anm anm-bag-l"></i>
                                    </button>
                                </form>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html"
                                       title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- Variant -->
                        <!-- End Variant -->
                        <!-- End product details -->
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">
                    <div class="grid-view_image">
                        <!-- start product image -->
                        <a class="grid-view-item__link" href="product-accordion.html">
                            <!-- image -->
                            <img alt="image"
                                 class="grid-view-item__image primary blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image2.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image2.jpg' %}"
                                 title="product"/>
                            <!-- End image -->
                            <!-- Hover image -->
                            <img alt="image"
                                 class="grid-view-item__image hover blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image2-1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image2-1.jpg' %}"
                                 title="product"/>
                            <!-- End hover image -->
                            <!-- product label -->
                            <div class="product-labels rectangular">
                                <span class="lbl on-sale">-16%</span>
                                <span class="lbl pr-label1">new</span>
                            </div>
                            <!-- End product label -->
                        </a>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details hoverDetails text-center mobile">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-accordion.html">Elastic Waist Dress</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="price">$748.00</span>
                            </div>
                            <!-- product button -->
                            <div class="button-set">
                                <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                   data-toggle="modal" href="javascript:void(0)"
                                   title="Quick View">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start product button -->
                                <form action="#" class="variants add"
                                      method="post" onclick="window.location.href='cart.html'">
                                    <button class="btn cartIcon btn-addto-cart" tabindex="0" type="button">
                                        <i class="icon anm anm-bag-l"></i>
                                    </button>
                                </form>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html"
                                       title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- Variant -->
                        <!-- End Variant -->
                        <!-- End product details -->
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">
                    <div class="grid-view_image">
                        <!-- start product image -->
                        <a class="grid-view-item__link" href="product-accordion.html">
                            <!-- image -->
                            <img alt="image"
                                 class="grid-view-item__image primary blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image3.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image3.jpg' %}"
                                 title="product"/>
                            <!-- End image -->
                            <!-- Hover image -->
                            <img alt="image"
                                 class="grid-view-item__image hover blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image3-1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image3-1.jpg' %}"
                                 title="product"/>
                            <!-- End hover image -->
                            <!-- product label -->
                            <div class="product-labels rectangular">
                                <span class="lbl on-sale">-16%</span>
                                <span class="lbl pr-label1">new</span>
                            </div>
                            <!-- End product label -->
                        </a>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details hoverDetails text-center mobile">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-accordion.html">3/4 Sleeve Kimono Dress</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="price">$550.00</span>
                            </div>
                            <!-- product button -->
                            <div class="button-set">
                                <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                   data-toggle="modal" href="javascript:void(0)"
                                   title="Quick View">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start product button -->
                                <form action="#" class="variants add"
                                      method="post" onclick="window.location.href='cart.html'">
                                    <button class="btn cartIcon btn-addto-cart" tabindex="0" type="button">
                                        <i class="icon anm anm-bag-l"></i>
                                    </button>
                                </form>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html"
                                       title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- Variant -->
                        <!-- End Variant -->
                        <!-- End product details -->
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">
                    <div class="grid-view_image">
                        <!-- start product image -->
                        <a class="grid-view-item__link" href="product-accordion.html">
                            <!-- image -->
                            <img alt="image"
                                 class="grid-view-item__image primary blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image4.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image4.jpg' %}"
                                 title="product"/>
                            <!-- End image -->
                            <!-- Hover image -->
                            <img alt="image"
                                 class="grid-view-item__image hover blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image4-1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image4-1.jpg' %}"
                                 title="product"/>
                            <!-- End hover image -->
                            <!-- product label -->
                            <div class="product-labels">
                                <span class="lbl on-sale">Sale</span>
                            </div>
                            <!-- End product label -->
                        </a>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details hoverDetails text-center mobile">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-accordion.html">Cape Dress</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="old-price">$900.00</span>
                                <span class="price">$788.00</span>
                            </div>
                            <!-- product button -->
                            <div class="button-set">
                                <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                   data-toggle="modal" href="javascript:void(0)"
                                   title="Quick View">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start product button -->
                                <form action="#" class="variants add"
                                      method="post" onclick="window.location.href='cart.html'">
                                    <button class="btn cartIcon btn-addto-cart" tabindex="0" type="button">
                                        <i class="icon anm anm-bag-l"></i>
                                    </button>
                                </form>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html"
                                       title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- Variant -->
                        <!-- End Variant -->
                        <!-- End product details -->
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">
                    <div class="grid-view_image">
                        <!-- start product image -->
                        <a class="grid-view-item__link" href="product-accordion.html">
                            <!-- image -->
                            <img alt="image"
                                 class="grid-view-item__image primary blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image5.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image5.jpg' %}"
                                 title="product"/>
                            <!-- End image -->
                            <!-- Hover image -->
                            <img alt="image"
                                 class="grid-view-item__image hover blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image5-1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image5-1.jpg' %}"
                                 title="product"/>
                            <!-- End hover image -->
                            <!-- product label -->
                            <div class="product-labels">
                                <span class="lbl on-sale">Sale</span>
                            </div>
                            <!-- End product label -->
                        </a>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details hoverDetails text-center mobile">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-accordion.html">Paper Dress</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="old-price">$900.00</span>
                                <span class="price">$788.00</span>
                            </div>
                            <!-- product button -->
                            <div class="button-set">
                                <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                   data-toggle="modal" href="javascript:void(0)"
                                   title="Quick View">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start product button -->
                                <form action="#" class="variants add"
                                      method="post" onclick="window.location.href='cart.html'">
                                    <button class="btn cartIcon btn-addto-cart" tabindex="0" type="button">
                                        <i class="icon anm anm-bag-l"></i>
                                    </button>
                                </form>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html"
                                       title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- Variant -->
                        <!-- End Variant -->
                        <!-- End product details -->
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item style2">
                    <div class="grid-view_image">
                        <!-- start product image -->
                        <a class="grid-view-item__link" href="product-accordion.html">
                            <!-- image -->
                            <img alt="image"
                                 class="grid-view-item__image primary blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image16.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image16.jpg' %}"
                                 title="product"/>
                            <!-- End image -->
                            <!-- Hover image -->
                            <img alt="image"
                                 class="grid-view-item__image hover blur-up lazyload"
                                 data-src="{% static 'assets/images/product-images/product-image16-1.jpg' %}"
                                 src="{% static 'assets/images/product-images/product-image16-1.jpg' %}"
                                 title="product"/>
                            <!-- End hover image -->
                        </a>
                        <!-- end product image -->
                        <!--start product details -->
                        <div class="product-details hoverDetails text-center mobile">
                            <!-- product name -->
                            <div class="product-name">
                                <a href="product-accordion.html">Buttercup Dress</a>
                            </div>
                            <!-- End product name -->
                            <!-- product price -->
                            <div class="product-price">
                                <span class="price">$420.00</span>
                            </div>
                            <!-- product button -->
                            <div class="button-set">
                                <a class="quick-view-popup quick-view" data-target="#content_quickview"
                                   data-toggle="modal" href="javascript:void(0)"
                                   title="Quick View">
                                    <i class="icon anm anm-search-plus-r"></i>
                                </a>
                                <!-- Start product button -->
                                <form action="#" class="variants add"
                                      method="post" onclick="window.location.href='cart.html'">
                                    <button class="btn cartIcon btn-addto-cart" tabindex="0" type="button">
                                        <i class="icon anm anm-bag-l"></i>
                                    </button>
                                </form>
                                <div class="wishlist-btn">
                                    <a class="wishlist add-to-wishlist" href="wishlist.html">
                                        <i class="icon anm anm-heart-l"></i>
                                    </a>
                                </div>
                                <div class="compare-btn">
                                    <a class="compare add-to-compare" href="compare.html"
                                       title="Add to Compare">
                                        <i class="icon anm anm-random-r"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end product button -->
                        </div>
                        <!-- End product details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Featured Product-->

<!--Store Feature-->
<div class="store-feature section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="display-table store-info">
                    <li class="display-table-cell">
                        <i class="icon anm anm-truck-l"></i>
                        <h5>Free Shipping &amp; Return</h5>
                        <span class="sub-text">Free shipping on all US orders</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-dollar-sign-r"></i>
                        <h5>Money Guarantee</h5>
                        <span class="sub-text">30 days money back guarantee</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-comments-l"></i>
                        <h5>Online Support</h5>
                        <span class="sub-text">We support online 24/7 on day</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-credit-card-front-r"></i>
                        <h5>Secure Payments</h5>
                        <span class="sub-text">All payment are Secured and trusted.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End Store Feature-->

{% endblock content %}
